[submodule "themes/themes/onetwothree"]
	path = themes/themes/onetwothree
	url = https://github.com/schollz/onetwothree.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
