body {
    font-family: 'Source Serif Pro', serif;
    
}

h1, h2 {
    font-family: 'Libre Franklin', sans-serif;
}

a {
    color:rgb(128, 0, 128);
    text-decoration: none;
}

a:hover {
    color:rgb(201, 0, 201);
}

.container {
    max-width: 80ch;
    padding: 2ch;
    margin: auto;
}

#skip {
    height: 30px;
    left: 50%;
    padding: 2ch;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

#skip:focus {
    transform: translateY(0%);
}