body {
    font-family: "Fira Code", monospace;
}

.container {
    max-width: 80ch;
    padding: 2ch;
    margin: auto;
}

a {
    color: rgb(10, 75, 75);
    text-decoration: none;
}

a:hover {
    color: rgb(77, 238, 238);
    text-decoration: underline;
}
