@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

body {
      font-family: "Fira Code", monospace;
  }

  .container {
        max-width: 80ch;
          padding: 2ch;
            margin: auto;
        }

        a {
              color: rgb(10, 75, 75);
          }

          a:hover {
                color: rgb(77, 238, 238);
            }

            .highlight {
                  color: red;
              }

